<!doctype html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
		<title>Order of the Mouse</title>
		 <meta name="author" content="Peter David Carter">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<!-- Base element for app -->
		<div id="AppBase"></div>

		<!-- main layout template -->
		<script type="text/template" id="template-AppLayoutView">
			<div id="topbar">
				<div class="innerLogo">
				</div>
				<div id="navigation-bar">
					<a id="nav-home" class="navButton" href="#home">Game</a>&nbsp;&nbsp;
					<a id="nav-skills" class="navButton" href="#skills">Skills</a>&nbsp;&nbsp;
					<a id="nav-resources" class="navButton" href="#resources">Inventory</a>&nbsp;&nbsp;
					<a id="nav-people" class="navButton" href="#people">Friends</a>&nbsp;&nbsp;
					<a id="nav-contact" class="navButton" href="#contact">Relationships</a>&nbsp;&nbsp;
					<a id="nav-about" class="navButton" href="#about">Magic</a>
				</div>
			</div>
			<div id="left-sidebar">
				<div class="sidebar-text">
				<p>HP<p/>
				</div>
			</div>
			<div id="main-text">
				<h1 class="title">The Order of the Mouse/br></h1>
				<h2 class="title">Dragon-bear, Clown-Fox and Rabbit-Pig experience horror within the Castle of Cages and Revolving Walls</h2>
			</div>
			<div id="ContentRegion"></div>
			</div>
		</script>

		<!-- home screen template -->
		<script type="text/template" id="template-HomeLayoutView">
		<div id="main-content">
			<div id="home">
			</div>
		</div>
		</script>

		<!-- skills screen templa te -->
		<script type="text/template" id="template-SkillsLayoutView">
		<div id="main-content">
			<div class="skills">
    			<h1>Skills</h1>
    		</div>
		</div>
		</script>

		<script type="text/template" id="template-ResourcesLayoutView">
		<div id="main-content">
			<div class="resources">
    			<h1>Inventory<h1>
    		</div>
		</div>
		</script>

		<script type="text/template" id="template-ContactLayoutView">
		<div id="main-content">
		    <div class="contact">
		    	<h1>Friends</h1>
		    </div>
		</div>
		</script>

		<script type="text/template" id="template-PeopleLayoutView">
		<div id="main-content">
			<div class="people">
				<h1>Relationships</h1>
    		</div>
		</div>
		</script>

		<script type="text/template" id="template-AboutLayoutView">
		<div id="main-content">
			<div class="about">
				<h1>Magic</h1
    		</div>
		</div>
		</script>

		<!-- libraries -->
		<script type="text/javascript" src="vendor/jquery.js"></script>
		<script type="text/javascript" src="vendor/underscore.js"></script>
		<script type="text/javascript" src="vendor/backbone.js"></script>
		<script type="text/javascript" src="vendor/backbone.marionette.js"></script>

		<!-- app code -->
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
